
/* Argentina Sprite for Default Size
---------------------------------------------------------------*/


[class*='paymentmethod'] {
    background-image: url('./images/ar/payment-methods-default.png');
}

/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

   [class*='paymentmethod'] {
        background-image: url('./images/ar/payment-methods-default@2x.png');
        background-size: 72px 1120px;  /* original x1 image size */
    }

}

/* Argentina Default Size
---------------------------------------------------------------*/

.paymentmethod-account_money {
    height: 20px;
    width: 72px;
}

.paymentmethod-visa {
    width: 39px;
    height: 16px;
}

.paymentmethod-debvisa {
    width: 58px;
    height: 13px;
}

.paymentmethod-master {
    height: 26px;
    width: 29px;
}

.paymentmethod-debmaster {
    height: 24px;
    width: 49px;
}

.paymentmethod-amex {
    height: 17px;
    width: 17px;
}

.paymentmethod-diners {
    height: 16px;
    width: 62px;
}

.paymentmethod-bitcoin {
    height: 16px;
    width: 62px;
}

.paymentmethod-naranja {
    height: 18px;
    width: 16px;
}

.paymentmethod-nativa {
    height: 15px;
    width: 36px;
}

.paymentmethod-tarshop {
    width: 27px;
    height: 16px;
}

.paymentmethod-cencosud {
    height: 17px;
    width: 26px;
}

.paymentmethod-cabal {
    height: 17px;
    width: 17px;
}

.paymentmethod-debcabal {
    height: 18px;
    width: 17px;
}

.paymentmethod-argencard {
    height: 18px;
    width: 17px;
}

.paymentmethod-pagofacil,
.paymentmethod-redlink {
    height: 20px;
    width: 19px;
}

.paymentmethod-rapipago {
    height: 11px;
    width: 56px;
}

.paymentmethod-banelco {
    width: 46px;
    height: 16px;
}

.paymentmethod-bapropagos {
    width: 51px;
    height: 16px;
}

.paymentmethod-cargavirtual {
    height: 20px;
    width: 20px;
}
.paymentmethod-cordial {
    height: 15px;
    width: 39px;
}
.paymentmethod-cmr {
    height: 19px;
    width: 26px;
}
.paymentmethod-cordobesa {
    height: 9px;
    width: 40px;
}
.paymentmethod-mercadopago_cc {
    height: 19px;
    width: 30px;
}
.paymentmethod-consumer_credits {
    height: 20px;
    width: 74px;
}

.paymentmethod-maestro {
    height: 24px;
    width: 30px;
}
