
/* Argentina Sprite for Default Size
---------------------------------------------------------------*/


[class*='paymentmethod'] {
    background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.8.0/ar/payment-methods-default.png');
}

/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

   [class*='paymentmethod'] {
        background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.8.0/ar/payment-methods-default@2x.png');
        background-size: 72px 1498px;  /* original x1 image size */
    }

}

/* Argentina Default Size
---------------------------------------------------------------*/

.paymentmethod-account_money {
    height: 20px;
    width: 72px;
}

.paymentmethod-visa {
    width: 39px;
    height: 16px;
}

.paymentmethod-debvisa {
    width: 58px;
    height: 16px;
}

.paymentmethod-master {
    height: 26px;
    width: 30px;
}

.paymentmethod-debmaster {
    height: 26px;
    width: 49px;
}

.paymentmethod-amex {
    height: 17px;
    width: 17px;
}

.paymentmethod-diners {
    height: 16px;
    width: 62px;
}

.paymentmethod-bitcoin {
    height: 16px;
    width: 62px;
}

.paymentmethod-naranja {
    height: 22px;
    width: 16px;
}

.paymentmethod-nativa {
    height: 15px;
    width: 36px;
}

.paymentmethod-tarshop {
    width: 27px;
    height: 16px;
}

.paymentmethod-cencosud {
    height: 17px;
    width: 26px;
}

.paymentmethod-cabal {
    height: 17px;
    width: 52px;
}

.paymentmethod-debcabal {
    height: 24px;
    width: 52px;
}

.paymentmethod-argencard {
    height: 18px;
    width: 17px;
}

.paymentmethod-pagofacil,
.paymentmethod-redlink {
    height: 20px;
    width: 19px;
}

.paymentmethod-rapipago {
    height: 11px;
    width: 56px;
}

.paymentmethod-banelco {
    width: 46px;
    height: 16px;
}

.paymentmethod-bapropagos {
    width: 54px;
    height: 24px;
}

.paymentmethod-cargavirtual {
    height: 20px;
    width: 20px;
}
.paymentmethod-cordial {
    height: 21px;
    width: 30px;
}
.paymentmethod-cmr {
    height: 19px;
    width: 26px;
}
.paymentmethod-cordobesa {
    height: 10px;
    width: 40px;
}
.paymentmethod-mercadopago_cc {
    height: 20px;
    width: 30px;
}
.paymentmethod-consumer_credits {
    height: 20px;
    width: 74px;
}

.paymentmethod-maestro {
    height: 25px;
    width: 30px;
}

.paymentmethod-patagonia365 {
    height: 10px;
    width: 73px;
}

.paymentmethod-nevada {
    height: 20px;
    width: 25px;
}

.paymentmethod-cobroexpress {
    height: 16px;
    width: 58px;
}
