/* Sprite position for Colombia Logos
---------------------------------------------------------------*/

.paymentmethod-diners { 
	background-position: 0 -200px; 
}

.paymentmethod-efecty { 
	background-position: 0 -250px; 
}

.paymentmethod-davivienda { 
	background-position: 0 -300px; 
}