[class*="paymentmethod"] {
    background-image: url(../../images/pmc-mco-default.png);
    background-size: 116px 67px;
    height: 26px; /* most common height */
    margin: 5px;
}


/*large*/
  .paymentmethod-davivienda {
      background-position: 0px 0px;
      height: 15px;
      width: 116px;
  }
  .paymentmethod-efecty {
      background-position: 0px -15px;
      height: 24px;
      width: 70px;
  }
  .paymentmethod-pse {
      background-position: 0px -39px;
      height: 28px;
      width: 69px;
  }
