/**
 * Payment Methods Logos
 * @authors: ndevalle, ipianciola
 * @description: common component for each country's payment methods logos.
 * @version: 0.1
 */

/* Common Structure 
---------------------------------------------------------------*/

[class*='paymentmethod'] {
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    text-indent: 100%;
    vertical-align: middle;
    white-space: nowrap;
}

li[class*='paymentmethod'] {
    margin: 2px;
}

/* Common Payment Methods to all Contries 
---------------------------------------------------------------*/

.paymentmethod-account_money {
    background-position: 0 0;
}

.paymentmethod-visa {
    background-position: 0 -50px;
}

.paymentmethod-master {
    background-position: 0 -100px;
}

.paymentmethod-amex {
    background-position: 0 -150px;
}