/**
 * Payment Methods Logos
 * @authors: ndevalle, ipianciola, gandre, aramos
 * @description: common component for each country's payment methods logos.
 * @version: 1.2.0
 */

/* Common Structure 
---------------------------------------------------------------*/

[class*='paymentmethod'] {
    background-repeat: no-repeat;
    display: inline-block;
    margin: 2px;
    overflow: hidden;
    text-indent: 100%;
    vertical-align: middle;
    white-space: nowrap;
}

/* Common Payment Methods to all Contries 
---------------------------------------------------------------*/

.paymentmethod-account_money {
    background-position: 0 0;
}

.paymentmethod-visa,
.paymentmethod-debvisa {
    background-position: 0 -50px;
}

.paymentmethod-master,
.paymentmethod-debmaster {
    background-position: 0 -100px;
}

.paymentmethod-amex {
    background-position: 0 -150px;
}