/**
 * Payment Methods Logos
 * @authors: ndevalle, ipianciola, gandre, aramos, dudesl, sabustamante
 * @description: common component for each country's payment methods logos.
 * @version: 1.8.0
 */

/* Common Structure
---------------------------------------------------------------*/

[class*='paymentmethod'] {
    background-repeat: no-repeat;
    display: inline-block;
    margin: 2px;
    overflow: hidden;
    text-indent: 100%;
    vertical-align: middle;
    white-space: nowrap;
}

/* Common Payment Methods to all Contries
---------------------------------------------------------------*/

.paymentmethod-account_money {
    background-position: 0 0;
}

.paymentmethod-visa,
.paymentmethod-visa.paymentmethod-large {
    background-position: 0 -49px;
}

.paymentmethod-debvisa {
    background-position: 0px -1248px;
}
.paymentmethod-debvisa.paymentmethod-large {
    background-position: 0 -1249px;
}

.paymentmethod-master,
.paymentmethod-master.paymentmethod-large {
    background-position: 0 -100px;
}

.paymentmethod-debmaster {
    background-position: 0 -1148px;
}
.paymentmethod-debmaster.paymentmethod-large {
    background-position: 0 -1149px;
}

.paymentmethod-amex,
.paymentmethod-amex.paymentmethod-large{
    background-position: 0 -150px;
}

.paymentmethod-bitcoin,
.paymentmethod-bitcoin.paymentmethod-large{
    background-position: 0 -250px;
}
