/* Uruguay Sprite for Large Size
---------------------------------------------------------------*/

.paymentmethod-large {
    background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.7.4/uy/payment-methods-large.png');
    height: 26px;
    margin: 5px;
}
/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

.paymentmethod-large {
        background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.7.4/uy/payment-methods-large@2x.png');
        background-size: 116px 430px; /* original x1 image size */
        height: 26px;
        margin: 5px;
    }

}


/* Uruguay Large Size
---------------------------------------------------------------*/

.paymentmethod-account_money.paymentmethod-large {
    height: 31px;
    width: 116px;
}

.paymentmethod-visa.paymentmethod-large {
    height: 21px;
    width: 61px;
}

.paymentmethod-master.paymentmethod-large {
    height: 35px;
    width: 48px;
}

.paymentmethod-diners.paymentmethod-large {
    height: 28px;
    width: 96px;
}

.paymentmethod-abitab.paymentmethod-large {
    width: 98px;
    height: 25px;
}

.paymentmethod-oca.paymentmethod-large {
    height: 15px;
    width: 70px;
}
.paymentmethod-redpagos.paymentmethod-large {
    height: 20px;
    width: 100px;
}
.paymentmethod-lider.paymentmethod-large {
    height: 30px;
    width: 41px;
}
