/* Colombia Sprite for Default Size 
---------------------------------------------------------------*/

[class*='paymentmethod'] {
    background-image: url('http://static.mlstatic.com/org-img/ui/payment-methods/1.0.0/co/payment-methods-default.png');
    height: 16px; /* most common height */
}


/* Colombia Default Size
---------------------------------------------------------------*/

.paymentmethod-account_money {
    height: 20px;
    width: 72px;
}

.paymentmethod-visa {
    width: 38px;
}

.paymentmethod-master { 
    height: 19px;
    width: 29px;
}

.paymentmethod-amex { 
    height: 17px;
    width: 17px;
}

.paymentmethod-diners { 
    width: 20px;
}

.paymentmethod-efecty {
    height: 15px;
    width: 45px;
}

.paymentmethod-davivienda {
    height: 10px;
    width: 72px;
}