/* Colombia Sprite for Default Size
---------------------------------------------------------------*/

[class*='paymentmethod'] {
    background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.7.7/co/payment-methods-default.png');
    height: 16px; /* most common height */
}
/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    [class*='paymentmethod'] {
        background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.7.7/co/payment-methods-default@2x.png');
        background-size: 72px 716px; /* original x1 image size */
        height: 16px; 
    }
}

/* Colombia Default Size
---------------------------------------------------------------*/

.paymentmethod-account_money {
    height: 20px;
    width: 72px;
}

.paymentmethod-visa {
    width: 38px;
}

.paymentmethod-master {
    height: 26px;
    width: 29px;
}

.paymentmethod-amex {
    height: 17px;
    width: 17px;
}

.paymentmethod-diners {
    width: 62px;
}

.paymentmethod-bitcoin {
    height: 16px;
    width: 62px;
}

.paymentmethod-efecty {
    height: 15px;
    width: 45px;
}

.paymentmethod-davivienda {
    height: 10px;
    width: 72px;
}

.paymentmethod-pse {
    height: 20px;
    width: 47px;
}

.paymentmethod-codensa {
    height: 16px;
    width: 26px;
}

.paymentmethod-baloto {
    height: 23px;
    width: 28px;
}

.paymentmethod-baloto_ser {
    height: 21px;
    width: 30px;
}

.paymentmethod-baloto_472 {
    height: 27px;
    width: 21px;
}

/* Narrow */

.paymentmethod-efecty-narrow {
    height: 28px;
    width: 25px;
}

.paymentmethod-davivienda-narrow {
    height: 21px;
    width: 23px;
}

.paymentmethod-pse-narrow {
    height: 20px;
    width: 47px;
}

.paymentmethod-codensa-narrow {
    height: 17px;
    width: 26px;
}

.paymentmethod-baloto-narrow {
    height: 23px;
    width: 28px;
}

.paymentmethod-baloto_ser-narrow {
    height: 21px;
    width: 30px;
}

.paymentmethod-baloto_472-narrow {
    height: 27px;
    width: 21px;
}