/* Sprite position for Argentina Logos
---------------------------------------------------------------*/

.paymentmethod-diners,
.paymentmethod-diners.paymentmethod-large {
    background-position: 0 -200px;
}

.paymentmethod-naranja,
.paymentmethod-naranja.paymentmethod-large {
	background-position: 0 -300px;
}

.paymentmethod-nativa,
.paymentmethod-nativa.paymentmethod-large {
	background-position: 0 -350px;
}

.paymentmethod-tarshop,
.paymentmethod-tarshop.paymentmethod-large {
	background-position: 0 -400px;
}

.paymentmethod-cencosud,
.paymentmethod-cencosud.paymentmethod-large {
	background-position: 0 -450px;
}

.paymentmethod-cabal,
.paymentmethod-cabal.paymentmethod-large {
    background-position: 0 -500px;
}

.paymentmethod-debcabal {
    background-position: 0px -1298px;
}

.paymentmethod-debcabal.paymentmethod-large {
    background-position: 0 -1300px;
}

.paymentmethod-argencard,
.paymentmethod-argencard.paymentmethod-large {
	background-position: 0 -550px;
}

.paymentmethod-pagofacil,
.paymentmethod-pagofacil.paymentmethod-large {
	background-position: 0 -600px;
}

.paymentmethod-rapipago,
.paymentmethod-rapipago.paymentmethod-large {
	background-position: 0 -650px;
}

.paymentmethod-redlink,
.paymentmethod-redlink.paymentmethod-large {
	background-position: 0 -700px;
}

.paymentmethod-banelco,
.paymentmethod-banelco.paymentmethod-large {
	background-position: 0 -750px;
}

.paymentmethod-bapropagos,
.paymentmethod-bapropagos.paymentmethod-large {
	background-position: 0 -800px;
}

.paymentmethod-cargavirtual,
.paymentmethod-cargavirtual.paymentmethod-large {
	background-position: 0 -849px;
}

.paymentmethod-cordial {
  background-position: 0 -898px;
}

.paymentmethod-cordial.paymentmethod-large {
	background-position: 0 -900px;
}

.paymentmethod-cmr,
.paymentmethod-cmr.paymentmethod-large {
	background-position: 0 -949px;
}

.paymentmethod-cordobesa,
.paymentmethod-cordobesa.paymentmethod-large {
	background-position: 0px -998px;
}

.paymentmethod-mercadopago_cc {
    background-position: 0 -1047px;
}
.paymentmethod-mercadopago_cc.paymentmethod-large {
	background-position: 0 -1049px;
}

.paymentmethod-consumer_credits{
	background-position: 0 -1097px;
}

.paymentmethod-consumer_credits.paymentmethod-large {
	background-position: 0 -1098px;
}

.paymentmethod-maestro {
    background-position: 0 -1197px;
}

.paymentmethod-maestro.paymentmethod-large {
	background-position: 0 -1199px;
}

.paymentmethod-patagonia365 {
	background-position: 0 -1346px;
}

.paymentmethod-patagonia365.paymentmethod-large {
	background-position: 0 -1346px;
}

.paymentmethod-nevada {
    background-position: 0 -1396px;
}

.paymentmethod-nevada.paymentmethod-large {
	background-position: 0 -1393px;
}

.paymentmethod-cobroexpress {
    background-position: 0 -1448px;
}

.paymentmethod-cobroexpress.paymentmethod-large {
	background-position: 0 -1444px;
}
