/* Sprite position for Argentina Logos
---------------------------------------------------------------*/

.paymentmethod-diners,
.paymentmethod-diners.paymentmethod-large {
    background-position: 0 -200px;
}

.paymentmethod-naranja,
.paymentmethod-naranja.paymentmethod-large {
	background-position: 0 -300px;
}

.paymentmethod-nativa,
.paymentmethod-nativa.paymentmethod-large {
	background-position: 0 -350px;
}

.paymentmethod-tarshop,
.paymentmethod-tarshop.paymentmethod-large {
	background-position: 0 -400px;
}

.paymentmethod-cencosud,
.paymentmethod-cencosud.paymentmethod-large {
	background-position: 0 -450px;
}

.paymentmethod-cabal,
.paymentmethod-cabal.paymentmethod-large {
	background-position: 0 -500px;
}

.paymentmethod-argencard,
.paymentmethod-argencard.paymentmethod-large {
	background-position: 0 -550px;
}

.paymentmethod-pagofacil,
.paymentmethod-pagofacil.paymentmethod-large {
	background-position: 0 -600px;
}

.paymentmethod-rapipago,
.paymentmethod-rapipago.paymentmethod-large {
	background-position: 0 -650px;
}

.paymentmethod-redlink,
.paymentmethod-redlink.paymentmethod-large {
	background-position: 0 -700px;
}

.paymentmethod-banelco,
.paymentmethod-banelco.paymentmethod-large {
	background-position: 0 -750px;
}

.paymentmethod-bapropagos,
.paymentmethod-bapropagos.paymentmethod-large {
	background-position: 0 -800px;
}

.paymentmethod-cargavirtual,
.paymentmethod-cargavirtual.paymentmethod-large {
	background-position: 0 -850px;
}
.paymentmethod-cordial,
.paymentmethod-cordial.paymentmethod-large {
	background-position: 0 -900px;
}
.paymentmethod-cmr,
.paymentmethod-cmr.paymentmethod-large {
	background-position: 0 -950px;
}

.paymentmethod-cordobesa,
.paymentmethod-cordobesa.paymentmethod-large {
	background-position: 0 -1000px;
}

.paymentmethod-mercadopago_cc,
.paymentmethod-mercadopago_cc.paymentmethod-large {
	background-position: 0 -1049px;
}

.paymentmethod-consumer_credits{	background-position: 0 -1098px;  }
.paymentmethod-consumer_credits.paymentmethod-large {
	background-position: 0 -1103px;
}