/* Sprite position for Argentina Logos
---------------------------------------------------------------*/

.paymentmethod-naranja { 
	background-position: 0 -200px; 
}

.paymentmethod-nativa { 
	background-position: 0 -250px; 
}

.paymentmethod-tarshop { 
	background-position: 0 -300px; 
}

.paymentmethod-cencosud { 
	background-position: 0 -350px; 
}

.paymentmethod-cabal { 
	background-position: 0 -400px; 
}

.paymentmethod-argencard { 
	background-position: 0 -450px; 
}

.paymentmethod-pagofacil { 
	background-position: 0 -500px; 
}

.paymentmethod-rapipago { 
	background-position: 0 -550px; 
}

.paymentmethod-redlink { 
	background-position: 0 -600px; 
}

.paymentmethod-banelco { 
	background-position: 0 -650px; 
}

.paymentmethod-bapropagos { 
	background-position: 0 -700px; 
}