[class^="<%= common %>"] {
    font-size: <%= baseSize %>px;
}

[class^="<%= common %>"]:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("<%= svgPath %>");
    background-repeat: no-repeat;
    background-size: <%= relWidth %>em <%= relHeight %>em;
}

<% _.forEach(sizes, function(size) { %>
.<%= common %><%=size.name%> {
    font-size: <%=size.size%>px;
}
<% }); %>

<% _.forEach(svg, function(svgItem) { %>
.<%=svgItem.name%>:before {
    background-position: <%= svgItem.relPositionX %>em <%= svgItem.relPositionY %>em;
    width: <%= svgItem.relWidth %>em;
    height: <%= svgItem.relHeight %>em;
}
<% }); %>
