/* Colombia Sprite for Large Size
---------------------------------------------------------------*/

.paymentmethod-large {
    background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.5/co/payment-methods-large.png');
    margin: 5px;
}

/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

.paymentmethod-large {
        background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.5/co/payment-methods-large@2x.png');
        background-size: 116px 450px; /* original x1 image size */
    }

}


/* Colombia Large Size
---------------------------------------------------------------*/

.paymentmethod-account_money.paymentmethod-large {
    height: 31px;
    width: 116px;
}

.paymentmethod-visa.paymentmethod-large {
    height: 21px;
    width: 63px;
}

.paymentmethod-master.paymentmethod-large {
    height: 28px;
    width: 46px;
}

.paymentmethod-amex.paymentmethod-large {
    height: 27px;
    width: 26px;
}

.paymentmethod-diners.paymentmethod-large {
    height: 25px;
    width: 96px;
}

.paymentmethod-bitcoin.paymentmethod-large {
    height: 25px;
    width: 96px;
}

.paymentmethod-efecty.paymentmethod-large {
    height: 24px;
    width: 72px;
}

.paymentmethod-davivienda.paymentmethod-large {
    height: 15px;
    width: 116px;
}

.paymentmethod-pse.paymentmethod-large {
    height: 30px;
    width: 74px;
}
