/* Colombia Sprite for Large Size
---------------------------------------------------------------*/

.paymentmethod-large {
    background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.8.0/co/payment-methods-large.png');
    margin: 5px;
}

/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .paymentmethod-large {
        background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.8.0/co/payment-methods-large@2x.png');
        background-size: 116px 726px; /* original x1 image size */
    }
}

/* Colombia Large Size
---------------------------------------------------------------*/

.paymentmethod-account_money.paymentmethod-large {
    height: 31px;
    width: 116px;
}

.paymentmethod-visa.paymentmethod-large {
    height: 21px;
    width: 63px;
}

.paymentmethod-master.paymentmethod-large {
    height: 35px;
    width: 46px;
}

.paymentmethod-amex.paymentmethod-large {
    height: 28px;
    width: 28px;
}

.paymentmethod-diners.paymentmethod-large {
    height: 26px;
    width: 96px;
}

.paymentmethod-bitcoin.paymentmethod-large {
    height: 25px;
    width: 96px;
}

.paymentmethod-efecty.paymentmethod-large {
    height: 24px;
    width: 72px;
}

.paymentmethod-davivienda.paymentmethod-large {
    height: 15px;
    width: 116px;
}

.paymentmethod-pse.paymentmethod-large {
    height: 30px;
    width: 74px;
}

.paymentmethod-codensa.paymentmethod-large {
    height: 26px;
    width: 38px;
}

.paymentmethod-baloto.paymentmethod-large {
    height: 34px;
    width: 43px;
}

.paymentmethod-baloto_ser.paymentmethod-large {
    height: 32px;
    width: 43px;
}

.paymentmethod-baloto_472.paymentmethod-large {
    height: 37px;
    width: 33px;
}

/* Narrow */

.paymentmethod-efecty-narrow.paymentmethod-large {
    height: 36px;
    width: 36px;
}

.paymentmethod-davivienda-narrow.paymentmethod-large {
    height: 32px;
    width: 35px;
}

.paymentmethod-pse-narrow.paymentmethod-large {
    height: 30px;
    width: 74px;
}

.paymentmethod-codensa-narrow.paymentmethod-large {
    height: 27px;
    width: 38px;
}

.paymentmethod-baloto-narrow.paymentmethod-large {
    height: 34px;
    width: 43px;
}

.paymentmethod-baloto_ser-narrow.paymentmethod-large {
    height: 32px;
    width: 43px;
}

.paymentmethod-baloto_472-narrow.paymentmethod-large {
    height: 37px;
    width: 33px;
}
