/* Colombia Sprite for Large Size 
---------------------------------------------------------------*/

.paymentmethod-large {
    background-image: url('payment-methods-large.png');
    margin: 5px;
}

/* Colombia Large Size
---------------------------------------------------------------*/

.paymentmethod-account_money.paymentmethod-large {
    height: 31px;
    width: 116px;
}

.paymentmethod-visa.paymentmethod-large {
    height: 21px;
    width: 60px;
}

.paymentmethod-master.paymentmethod-large {
    height: 28px;
    width: 46px;
}

.paymentmethod-amex.paymentmethod-large {
    height: 27px;
    width: 26px;
}

.paymentmethod-diners.paymentmethod-large {
    height: 25px;
    width: 32px;
}

.paymentmethod-efecty.paymentmethod-large {
    height: 24px;
    width: 72px;
}

.paymentmethod-davivienda.paymentmethod-large {
    height: 15px;
    width: 116px;
}