/**
 * Payment Methods Logos
 * @authors: ndevalle, ipianciola, gandre, aramos
 * @description: common component for each country's payment methods logos.
 * @version: 1.2.0
 */

/* Common Structure 
---------------------------------------------------------------*/

[class*='paymentmethod'] {
    background-repeat: no-repeat;
    display: inline-block;
    margin: 2px;
    overflow: hidden;
    text-indent: 100%;
    vertical-align: middle;
    white-space: nowrap;
}

/* Common Payment Methods to all Contries 
---------------------------------------------------------------*/

.paymentmethod-account_money {
    background-position: 0 0;
}

.paymentmethod-visa,
.paymentmethod-debvisa,
.paymentmethod-visa.paymentmethod-large,
.paymentmethod-debvisa.paymentmethod-large   {
    background-position: 0 -50px;
}

.paymentmethod-master,
.paymentmethod-debmaster,
.paymentmethod-master.paymentmethod-large,
.paymentmethod-debmaster.paymentmethod-large  {
    background-position: 0 -100px;
}

.paymentmethod-amex,
.paymentmethod-amex.paymentmethod-large{
    background-position: 0 -150px;
}

.paymentmethod-bitcoin,
.paymentmethod-bitcoin.paymentmethod-large{
    background-position: 0 -250px;
}
/* Sprite position for Colombia Logos
---------------------------------------------------------------*/

.paymentmethod-diners,
.paymentmethod-diners.paymentmethod-large { 
	background-position: 0 -200px; 
}

.paymentmethod-efecty,
.paymentmethod-efecty.paymentmethod-large { 
	background-position: 0 -300px; 
}

.paymentmethod-davivienda,
.paymentmethod-davivienda.paymentmethod-large { 
	background-position: 0 -350px; 
}

.paymentmethod-pse,
.paymentmethod-pse.paymentmethod-large { 
	background-position: 0 -400px; 
}
/* Colombia Sprite for Default Size 
---------------------------------------------------------------*/

[class*='paymentmethod'] {
    background: url('http://secure.mlstatic.com/org-img/ui/payment-methods/1.3.0/co/payment-methods-default.png');
    /*you must use the following url for secure pages*/
    /* background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.0/co/payment-methods-default.png'); */
    height: 16px; /* most common height */
}
/*
 * Retina logo for small screens 
 */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (    -o-min-device-pixel-ratio: 2/1),
only screen and (             min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                  min-resolution: 2dppx) { 
   
[class*='paymentmethod'] {
        background: url('http://secure.mlstatic.com/org-img/ui/payment-methods/1.3.0/co/payment-methods-default@2x.png') no-repeat;
        /*you must use the following url for secure pages*/
        /*background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.0/co/payment-methods-default@2x.png') no-repeat;*/
        background-size: 72px 450px; /* original x1 image size */
        height: 16px; 
    }

}


/* Colombia Default Size
---------------------------------------------------------------*/

.paymentmethod-account_money {
    height: 20px;
    width: 72px;
}

.paymentmethod-visa {
    width: 38px;
}

.paymentmethod-master { 
    height: 19px;
    width: 29px;
}

.paymentmethod-amex { 
    height: 17px;
    width: 17px;
}

.paymentmethod-diners { 
    width: 60px;
}

.paymentmethod-bitcoin { 
    height: 16px;
    width: 62px;
}

.paymentmethod-efecty {
    height: 15px;
    width: 45px;
}

.paymentmethod-davivienda {
    height: 10px;
    width: 72px;
}

.paymentmethod-pse {
    height: 18px;
    width: 17px;
}
/* Colombia Sprite for Large Size 
---------------------------------------------------------------*/

.paymentmethod-large {
    background: url('http://secure.mlstatic.com/org-img/ui/payment-methods/1.3.0/co/payment-methods-large.png');
    /*you must use the following url for secure pages*/
    /* background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.0/co/payment-methods-large.png'); */
    margin: 5px;
}

/*
 * Retina logo for small screens 
 */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (              min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
   
.paymentmethod-large {
        background: url('http://secure.mlstatic.com/org-img/ui/payment-methods/1.3.0/co/payment-methods-large@2x.png') no-repeat;
        /*you must use the following url for secure pages*/
        /*background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.0/co/payment-methods-large@2x.png') no-repeat;*/
        background-size: 116px 450px; /* original x1 image size */
    }

}


/* Colombia Large Size
---------------------------------------------------------------*/

.paymentmethod-account_money.paymentmethod-large {
    height: 31px;
    width: 116px;
}

.paymentmethod-visa.paymentmethod-large {
    height: 21px;
    width: 63px;
}

.paymentmethod-master.paymentmethod-large {
    height: 28px;
    width: 46px;
}

.paymentmethod-amex.paymentmethod-large {
    height: 27px;
    width: 26px;
}

.paymentmethod-diners.paymentmethod-large {
    height: 25px;
    width: 96px;
}

.paymentmethod-bitcoin.paymentmethod-large {
    height: 25px;
    width: 96px;
}

.paymentmethod-efecty.paymentmethod-large {
    height: 24px;
    width: 72px;
}

.paymentmethod-davivienda.paymentmethod-large {
    height: 15px;
    width: 116px;
}

.paymentmethod-pse.paymentmethod-large {
    height: 28px;
    width: 28px;
}