[class*="paymentmethod-large"] {
    background-image: url(../../images/pmc-mlv-large.png);
    background-size: 204px 116px;
    height: 26px; /* most common height */
    margin: 5px;
}

/*large*/
  .paymentmethod-banesco.paymentmethod-large {
      background-position: 0px -21px;
      height: 45px;
      width: 158px;
  }
  .paymentmethod-mercantil.paymentmethod-large {
      background-position: 0px -66px;
      height: 50px;
      width: 204px;
  }
  .paymentmethod-provincial.paymentmethod-large {
      background-position: 0px 0px;
      height: 21px;
      width: 188px;
  }
