/* Brazil Sprite for Default Size
---------------------------------------------------------------*/

[class*='paymentmethod'] {
    background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.4.1/br/payment-methods-default.png');
    height: 16px; /* most common height */
}

/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

[class*='paymentmethod'] {
        background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.4.1/br/payment-methods-default@2x.png');
        background-size: 92px 516px; /* original x1 image size */
        height: 16px;
    }

}


/* Brazil Default Size
---------------------------------------------------------------*/

.paymentmethod-account_money {
    height: 20px;
    width: 72px;
}

.paymentmethod-visa {
    width: 39px;
}

.paymentmethod-master {
    height: 19px;
    width: 29px;
}

.paymentmethod-amex {
    height: 17px;
    width: 17px;
}

.paymentmethod-hipercard {
    width: 35px;
}

.paymentmethod-diners {
    width: 62px;
}

.paymentmethod-bitcoin {
    height: 16px;
    width: 62px;
}
.paymentmethod-elo {
    width: 16px;
}

.paymentmethod-melicard {
    height: 15px;
    width: 22px;
}

.paymentmethod-bolbradesco,
.paymentmethod-itau {
    width: 25px;
}

.paymentmethod-giftcard {
    height: 16px;
    width: 84px;
}
