/* Venezuela Sprite for Default Size
---------------------------------------------------------------*/

[class*='paymentmethod'] {
    background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.18/ve/payment-methods-default.png');
    height: 16px; /* most common height */
}
/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

[class*='paymentmethod'] {
        background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.18/ve/payment-methods-default@2x.png');
        background-size: 72px 425px; /* original x1 image size */
        height: 16px; /* most common height */
    }

}


/* Venezuela Default Size
---------------------------------------------------------------*/

.paymentmethod-account_money {
    height: 20px;
    width: 72px;
}

.paymentmethod-visa {
    width: 39px;
}

.paymentmethod-master {
    height: 19px;
    width: 29px;
}

.paymentmethod-bitcoin {
    height: 16px;
    width: 62px;
}

.paymentmethod-mercantil {
    width: 64px;
}

.paymentmethod-provincial {
    height: 7px;
    width: 59px;
}
.paymentmethod-banesco {
    height: 15px;
    width: 53px;
}
