/* Venezuela Sprite for Large Size 
---------------------------------------------------------------*/

.paymentmethod-large {
    background-image: url('http://static.mlstatic.com/org-img/ui/payment-methods/1.1.0/ve/payment-methods-large.png');
    /* background-image: url('https://a248.e.akamai.net/secure.mlstatic.com/org-img/ui/payment-methods/1.1.0/ve/payment-methods-large.png'); */
    height: 26px;
    margin: 5px;
}

/* Venezuela Large Size
---------------------------------------------------------------*/

.paymentmethod-account_money.paymentmethod-large {
    height: 31px;
    width: 116px;
}

.paymentmethod-visa.paymentmethod-large {
    height: 21px;
    width: 60px;
}

.paymentmethod-master.paymentmethod-large {
    height: 28px;
    width: 46px;
}

.paymentmethod-mercantil.paymentmethod-large {
    width: 103px;
}

.paymentmethod-provincial.paymentmethod-large {
    height: 12px;
    width: 94px;
}