/* Chile Sprite for Large Size
---------------------------------------------------------------*/

.paymentmethod-large {
    background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.17/cl/payment-methods-large.png');
    height: 26px; /* most common height */
    margin: 5px;
}

/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

.paymentmethod-large {
        background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.17/cl/payment-methods-large@2x.png');
        background-size: 130px 600px; /* original x1 image size */
    }

}

/* Chile Large Size
---------------------------------------------------------------*/

.paymentmethod-account_money.paymentmethod-large {
    height: 31px;
    width: 116px;
}

.paymentmethod-visa.paymentmethod-large {
    height: 21px;
    width: 63px;
}

.paymentmethod-master.paymentmethod-large {
    height: 28px;
    width: 46px;
}

.paymentmethod-amex.paymentmethod-large {
    height: 27px;
    width: 26px;
}

.paymentmethod-diners.paymentmethod-large {
    height: 26px;
    width: 97px;
}

.paymentmethod-bitcoin.paymentmethod-large {
    height: 25px;
    width: 96px;
}

.paymentmethod-magna.paymentmethod-large {
    height: 26px;
    width: 41px;
}

.paymentmethod-presto.paymentmethod-large {
    height: 26px;
    width: 41px;
}

.paymentmethod-servipag.paymentmethod-large {
    height: 27px;
    width: 78px;
}

.paymentmethod-cmr.paymentmethod-large {
    height: 27px;
    width: 128px;
}
.paymentmethod-webpay.paymentmethod-large {
    height: 39px;
    width: 43px;
}
.paymentmethod-khipu.paymentmethod-large {
    height: 23px;
    width: 56px;
}
