[class*="paymentmethod"] {
    background-image: url(../../images/pmc-mla-default.png);
    background-size: 116px 676px;
    height: 26px; /* most common height */
    margin: 5px;
}


/*large*/
  .paymentmethod-account_money {
      background-position: 0px -645px;
      height: 31px;
      width: 116px;
  }
  .paymentmethod-amex {
      background-position: 0px -328px;
      height: 26px;
      width: 27px;
  }
  .paymentmethod-argencard {
      background-position: 0px -435px;
      height: 28px;
      width: 27px;
  }
  .paymentmethod-bancoentrerios {
      background-position: 0px -176px;
      height: 24px;
      width: 51px;
  }
  .paymentmethod-bancosanjuan {
      background-position: 0px -152px;
      height: 24px;
      width: 87px;
  }
  .paymentmethod-bancosantacruz {
      background-position: 0px -29px;
      height: 18px;
      width: 107px;
  }
  .paymentmethod-banelco {
      background-position: 0px -129px;
      height: 23px;
      width: 74px;
  }
  .paymentmethod-bapropagos {
      background-position: 0px -302px;
      height: 26px;
      width: 82px;
  }
  .paymentmethod-bitcoin {
      background-position: 0px -47px;
      height: 19px;
      width: 90px;
  }
  .paymentmethod-cabal {
      background-position: 0px -276px;
      height: 26px;
      width: 26px;
  }
  .paymentmethod-cargavirtual {
      background-position: 0px -614px;
      height: 31px;
      width: 31px;
  }
  .paymentmethod-cencosud {
      background-position: 0px -250px;
      height: 26px;
      width: 40px;
  }
  .paymentmethod-cmr {
      background-position: 0px -492px;
      height: 30px;
      width: 41px;
  }
  .paymentmethod-comafi {
      background-position: 0px -86px;
      height: 21px;
      width: 106px;
  }
  .paymentmethod-corbodesa {
      background-position: 0px 0px;
      height: 13px;
      width: 64px;
  }
  .paymentmethod-cordial {
      background-position: 0px -107px;
      height: 22px;
      width: 62px;
  }
  .paymentmethod-diners {
      background-position: 0px -200px;
      height: 25px;
      width: 95px;
  }
  .paymentmethod-galicia {
      background-position: 0px -380px;
      height: 27px;
      width: 97px;
  }
  .paymentmethod-hipotecario {
      background-position: 0px -522px;
      height: 30px;
      width: 85px;
  }
  .paymentmethod-master {
      background-position: 0px -407px;
      height: 28px;
      width: 46px;
  }
  .paymentmethod-naranja {
      background-position: 0px -463px;
      height: 29px;
      width: 25px;
  }
  .paymentmethod-nativa {
      background-position: 0px -354px;
      height: 26px;
      width: 58px;
  }
  .paymentmethod-pagofacil {
      background-position: 0px -552px;
      height: 31px;
      width: 31px;
  }
  .paymentmethod-rapipago {
      background-position: 0px -13px;
      height: 16px;
      width: 86px;
  }
  .paymentmethod-redlink {
      background-position: 0px -583px;
      height: 31px;
      width: 31px;
  }
  .paymentmethod-tarshopp {
      background-position: 0px -225px;
      height: 25px;
      width: 42px;
  }
  .paymentmethod-visa {
      background-position: 0px -66px;
      height: 20px;
      width: 62px;
  }
