[class*="paymentmethod-large"] {
    background-image: url(../../images/pmc-mla-large.png);
    background-size: 232px 1337px;
    height: 26px; /* most common height */
    margin: 5px;
}

/*large*/
  .paymentmethod-account_money.paymentmethod-large {
      background-position: 0px -1276px;
      height: 61px;
      width: 232px;
  }
  .paymentmethod-amex.paymentmethod-large {
      background-position: 0px -701px;
      height: 52px;
      width: 53px;
  }
  .paymentmethod-argencard.paymentmethod-large {
      background-position: 0px -861px;
      height: 55px;
      width: 54px;
  }
  .paymentmethod-bancoentrerios.paymentmethod-large {
      background-position: 0px -300px;
      height: 47px;
      width: 102px;
  }
  .paymentmethod-bancosanjuan.paymentmethod-large {
      background-position: 0px -347px;
      height: 48px;
      width: 174px;
  }
  .paymentmethod-bancosantacruz.paymentmethod-large {
      background-position: 0px -56px;
      height: 36px;
      width: 214px;
  }
  .paymentmethod-banelco.paymentmethod-large {
      background-position: 0px -254px;
      height: 46px;
      width: 147px;
  }
  .paymentmethod-bapropagos.paymentmethod-large {
      background-position: 0px -495px;
      height: 51px;
      width: 164px;
  }
  .paymentmethod-bitcoin.paymentmethod-large {
      background-position: 0px -92px;
      height: 38px;
      width: 180px;
  }
  .paymentmethod-cabal.paymentmethod-large {
      background-position: 0px -649px;
      height: 52px;
      width: 52px;
  }
  .paymentmethod-cargavirtual.paymentmethod-large {
      background-position: 0px -1215px;
      height: 61px;
      width: 61px;
  }
  .paymentmethod-cencosud.paymentmethod-large {
      background-position: 0px -597px;
      height: 52px;
      width: 79px;
  }
  .paymentmethod-cmr.paymentmethod-large {
      background-position: 0px -973px;
      height: 60px;
      width: 82px;
  }
  .paymentmethod-comafi.paymentmethod-large {
      background-position: 0px -169px;
      height: 41px;
      width: 211px;
  }
  .paymentmethod-corbodesa.paymentmethod-large {
      background-position: 0px 0px;
      height: 25px;
      width: 128px;
  }
  .paymentmethod-cordial.paymentmethod-large {
      background-position: 0px -210px;
      height: 44px;
      width: 123px;
  }
  .paymentmethod-diners.paymentmethod-large {
      background-position: 0px -395px;
      height: 50px;
      width: 190px;
  }
  .paymentmethod-galicia.paymentmethod-large {
      background-position: 0px -753px;
      height: 53px;
      width: 194px;
  }
  .paymentmethod-hipotecario.paymentmethod-large {
      background-position: 0px -1033px;
      height: 60px;
      width: 170px;
  }
  .paymentmethod-master.paymentmethod-large {
      background-position: 0px -806px;
      height: 55px;
      width: 91px;
  }
  .paymentmethod-naranja.paymentmethod-large {
      background-position: 0px -916px;
      height: 57px;
      width: 50px;
  }
  .paymentmethod-nativa.paymentmethod-large {
      background-position: 0px -546px;
      height: 51px;
      width: 115px;
  }
  .paymentmethod-pagofacil.paymentmethod-large {
      background-position: 0px -1093px;
      height: 61px;
      width: 61px;
  }
  .paymentmethod-rapipago.paymentmethod-large {
      background-position: 0px -25px;
      height: 31px;
      width: 171px;
  }
  .paymentmethod-redlink.paymentmethod-large {
      background-position: 0px -1154px;
      height: 61px;
      width: 61px;
  }
  .paymentmethod-tarshopp.paymentmethod-large {
      background-position: 0px -445px;
      height: 50px;
      width: 84px;
  }
  .paymentmethod-visa.paymentmethod-large {
      background-position: 0px -130px;
      height: 39px;
      width: 123px;
  }
