/* Mexico Sprite for Large Size 
---------------------------------------------------------------*/

.paymentmethod-large {
    background-image: url('http://static.mlstatic.com/org-img/ui/payment-methods/1.2.0/mx/payment-methods-large.png');
    /*you must use the following url for secure pages*/
    /* background-image: url('https://static.mlstatic.com/org-img/ui/payment-methods/1.2.0/mx/payment-methods-large.png'); */
    margin: 5px;
}
/*
 * Retina logo for small screens 
 */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (              min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
   
.paymentmethod-large {
        background-image: url('http://static.mlstatic.com/org-img/ui/payment-methods/1.2.0/mx/payment-methods-large@2x.png') no-repeat;
        /*you must use the following url for secure pages*/
        /*background-image: url('https://static.mlstatic.com/org-img/ui/payment-methods/1.2.0/mx/payment-methods-large@2x.png') no-repeat;*/
        background-size: 116px 500px; /* original x1 image size */
    }

}


/* Mexico Large Size
---------------------------------------------------------------*/

.paymentmethod-account_money.paymentmethod-large {
    height: 31px;
    width: 116px;
}

.paymentmethod-visa.paymentmethod-large,
.paymentmethod-debvisa.paymentmethod-large {
    height: 21px;
    width: 60px;
}

.paymentmethod-master.paymentmethod-large,
.paymentmethod-debmaster.paymentmethod-large {
    height: 28px;
    width: 46px;
}

.paymentmethod-amex.paymentmethod-large {
    height: 27px;
    width: 26px;
}

.paymentmethod-bancomer.paymentmethod-large {
    height: 12px;
    width: 100px;
}

.paymentmethod-banamex.paymentmethod-large {
    height: 21px;
    width: 91px;
}

.paymentmethod-serfin.paymentmethod-large {
    height: 20px;
    width: 99px;
}

.paymentmethod-oxxo.paymentmethod-large {
    height: 25px;
    width: 52px;
}
.paymentmethod-mercadopagocard.paymentmethod-large {
    height: 29px;
    width: 45px;
}