/* Mexico Sprite for Large Size
---------------------------------------------------------------*/

.paymentmethod-large {
    background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.8.0/mx/payment-methods-large.png');
    margin: 5px;
}
/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

.paymentmethod-large {
        background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.8.0/mx/payment-methods-large@2x.png');
        background-size: 117px 1265px;  /* original x1 image size */
    }

}


/* Mexico Large Size
---------------------------------------------------------------*/

.paymentmethod-account_money.paymentmethod-large {
    height: 31px;
    width: 116px;
}

.paymentmethod-visa.paymentmethod-large {
    height: 21px;
    width: 63px;
}

.paymentmethod-master.paymentmethod-large {
    height: 35px;
    width: 46px;
}

.paymentmethod-amex.paymentmethod-large {
    height: 28px;
    width: 28px;
}

.paymentmethod-bitcoin.paymentmethod-large {
    height: 25px;
    width: 96px;
}

.paymentmethod-bancomer.paymentmethod-large {
    height: 12px;
    width: 100px;
}

.paymentmethod-banamex.paymentmethod-large {
    height: 21px;
    width: 116px;
}

.paymentmethod-serfin.paymentmethod-large {
    height: 22px;
    width: 99px;
}

.paymentmethod-oxxo.paymentmethod-large {
    height: 25px;
    width: 52px;
}
.paymentmethod-mercadopagocard.paymentmethod-large {
    height: 28px;
    width: 108px;
}

.paymentmethod-hsbc.paymentmethod-large {
    height: 18px;
    width: 90px;
}

.paymentmethod-banorte.paymentmethod-large {
    height: 20px;
    width: 117px;
}
.paymentmethod-ixe.paymentmethod-large {
    height: 32px;
    width: 75px;
}

.paymentmethod-debvisa.paymentmethod-large {
    height: 20px;
    width: 93px;
}

.paymentmethod-debmaster.paymentmethod-large {
    height: 36px;
    width: 78px;
}

.paymentmethod-gestopago.paymentmethod-large {
    height: 36px;
    width: 116px;
}

.paymentmethod-7-eleven.paymentmethod-large {
  height: 26px;
  width: 32px;
}

.paymentmethod-telecomm.paymentmethod-large {
  height: 20px;
  width: 86px;
}

/****************/

.paymentmethod-extra.paymentmethod-large {
  height: 28px;
  width: 84px;
}

.paymentmethod-k.paymentmethod-large {
  height: 28px;
  width: 28px;
}

.paymentmethod-circle_k.paymentmethod-large {
  height: 28px;
  width: 70px;
}

.paymentmethod-farmacias.paymentmethod-large {
  height: 26px;
  width: 68px;
}

.paymentmethod-casa_ley.paymentmethod-large {
  height: 28px;
  width: 46px;
}

.paymentmethod-chedraui.paymentmethod-large {
  height: 12px;
  width: 116px;
}
