/* Argentina Sprite for Large Size
---------------------------------------------------------------*/


.paymentmethod-large{
    background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.8/ar/payment-methods-large.png');
    height: 26px; /* most common height */
    margin: 5px;
}

/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

   .paymentmethod-large {
        background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.8/ar/payment-methods-large@2x.png');
        background-size: 116px 880px;  /* original x1 image size */
        height: 26px;
        margin: 5px;
    }

}

/* Argentina Large Size
---------------------------------------------------------------*/

.paymentmethod-account_money.paymentmethod-large {
    height: 31px;
    width: 116px;
}

.paymentmethod-visa.paymentmethod-large {
    height: 21px;
    width: 63px;
}

.paymentmethod-master.paymentmethod-large {
    height: 29px;
    width: 46px;
}

.paymentmethod-amex.paymentmethod-large {
    height: 27px;
    width: 26px;
}

.paymentmethod-diners.paymentmethod-large {
    height: 25px;
    width: 96px;
}

.paymentmethod-bitcoin.paymentmethod-large {
    height: 25px;
    width: 96px;
}

.paymentmethod-naranja.paymentmethod-large {
    height: 29px;
    width: 25px;
}

.paymentmethod-nativa.paymentmethod-large {
    width: 58px;
}

.paymentmethod-tarshop.paymentmethod-large {
    width: 42px;
}

.paymentmethod-cencosud.paymentmethod-large {
    width: 41px;
}

.paymentmethod-cabal.paymentmethod-large {
    width: 26px;
}

.paymentmethod-argencard.paymentmethod-large {
    height: 28px;
    width: 28px;
}

.paymentmethod-pagofacil.paymentmethod-large,
.paymentmethod-redlink.paymentmethod-large {
    height: 31px;
    width: 31px;
}

.paymentmethod-rapipago.paymentmethod-large {
    height: 16px;
    width: 86px;
}

.paymentmethod-banelco.paymentmethod-large {
    height: 25px;
    width: 74px;
}

.paymentmethod-bapropagos.paymentmethod-large {
    width: 82px;
}

.paymentmethod-cargavirtual.paymentmethod-large {
    height: 32px;
    width: 32px;
}
