/* Chile Sprite for Default Size 
---------------------------------------------------------------*/

[class*='paymentmethod'] {
    background-image: url('http://secure.mlstatic.com/org-img/ui/payment-methods/1.2.5/cl/payment-methods-default.png');
    /* you must use the following url for secure pages */
    /* background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.2.5/cl/payment-methods-default.png'); */
    height: 16px; /* most common height */
}

/*
 * Retina logo for small screens 
 */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (              min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
[class*='paymentmethod'] {
        background-image: url('http://secure.mlstatic.com/org-img/ui/payment-methods/1.2.5/cl/payment-methods-default@2x.png');
        /* you must use the following url for secure pages */
        /* background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.2.5/cl/payment-methods-default@2x.png'); */
        background-size: 80px 510px; /* original x1 image size */
        height: 16px;
    }

}


/* Chile Default Size
---------------------------------------------------------------*/

.paymentmethod-account_money {
    height: 20px;
    width: 72px;
}

.paymentmethod-visa {
    width: 38px;
}

.paymentmethod-master { 
    height: 19px;
    width: 29px;
}

.paymentmethod-amex { 
    height: 17px;
    width: 17px;
}

.paymentmethod-diners { 
    height: 18px;
    width: 62px;
}

.paymentmethod-magna { 
    height: 18px;
    width: 29px;
}

.paymentmethod-presto { 
    height: 18px;
    width: 28px;
}

.paymentmethod-servipag { 
    height: 18px;
    width: 50px;
}

.paymentmethod-cmr { 
    width: 79px;
    height: 18px;
}

.paymentmethod-webpay { 
    width: 38px;
    height: 27px;
}
