/* Chile Sprite for Default Size
---------------------------------------------------------------*/

[class*='paymentmethod'] {
    background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.15/cl/payment-methods-default.png');
    height: 16px; /* most common height */
}

/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
[class*='paymentmethod'] {
        background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.15/cl/payment-methods-default@2x.png');
        background-size: 80px 600px; /* original x1 image size */
        height: 16px;
    }

}


/* Chile Default Size
---------------------------------------------------------------*/

.paymentmethod-account_money {
    height: 20px;
    width: 72px;
}

.paymentmethod-visa {
    width: 38px;
}

.paymentmethod-master {
    height: 19px;
    width: 29px;
}

.paymentmethod-amex {
    height: 17px;
    width: 17px;
}

.paymentmethod-diners {
    height: 18px;
    width: 62px;
}

.paymentmethod-bitcoin {
    height: 16px;
    width: 62px;
}

.paymentmethod-magna {
    height: 18px;
    width: 29px;
}

.paymentmethod-presto {
    height: 18px;
    width: 28px;
}

.paymentmethod-servipag {
    height: 18px;
    width: 50px;
}

.paymentmethod-cmr {
    width: 79px;
    height: 18px;
}

.paymentmethod-webpay {
    width: 34px;
    height: 31px;
}
.paymentmethod-khipu {
    width: 40px;
    height: 16px;
}