/* Sprite position for Mexico Logos
---------------------------------------------------------------*/
.paymentmethod-diners,
.paymentmethod-diners.paymentmethod-large {
    background-position: 0 -199px;
}

.paymentmethod-abitab,
.paymentmethod-abitab.paymentmethod-large  {
	background-position: 0 -250px;
}

.paymentmethod-oca,
.paymentmethod-oca.paymentmethod-large  {
	background-position: 0 -299px;
}
.paymentmethod-redpagos,
.paymentmethod-redpagos.paymentmethod-large  {
	background-position: 0 -350px;
}

.paymentmethod-lider,
.paymentmethod-lider.paymentmethod-large  {
	background-position: 0 -400px;
}

.paymentmethod-debvisa {
    background-position: 0 -430px;
}

.paymentmethod-debvisa.paymentmethod-large {
    background-position: 0 -443px;
}