/* Sprite position for Mexico Logos
---------------------------------------------------------------*/
.paymentmethod-diners,
.paymentmethod-diners.paymentmethod-large { 
    background-position: 0 -200px; 
}

.paymentmethod-abitab,
.paymentmethod-abitab.paymentmethod-large  { 
	background-position: 0 -250px; 
}

.paymentmethod-oca,
.paymentmethod-oca.paymentmethod-large  { 
	background-position: 0 -300px; 
}
.paymentmethod-redpagos,
.paymentmethod-redpagos.paymentmethod-large  { 
	background-position: 0 -350px; 
}

.paymentmethod-lider,
.paymentmethod-lider.paymentmethod-large  { 
	background-position: 0 -400px; 
}