/* Uruguay Sprite for Default Size
---------------------------------------------------------------*/

[class*='paymentmethod'] {
    background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.8.1/uy/payment-methods-default.png');
    background-size: 72px 480px;
    height: 16px;
    /* most common height */
}

/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi),
(min-resolution: 1.5dppx) {

    [class*='paymentmethod'] {
        background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.8.1/uy/payment-methods-default@2x.png');
        background-size: 72px 469px;
        /* original x1 image size */
        height: 16px;
        /* most common height */
    }

}


/* Uruguay Default Size
---------------------------------------------------------------*/

.paymentmethod-account_money {
    height: 21px;
    width: 72px;
}

.paymentmethod-visa {
    width: 39px;
    height: 16px;
}

.paymentmethod-master {
    height: 26px;
    width: 30px;
}

.paymentmethod-diners {
    height: 17px;
    width: 60px;
}

.paymentmethod-abitab {
    width: 61px;
    height: 16px;
}

.paymentmethod-oca {
    height: 11px;
    width: 44px;
}

.paymentmethod-redpagos {
    height: 13px;
    width: 62px;
}

.paymentmethod-lider {
    height: 18px;
    width: 24px;
}

.paymentmethod-debvisa {
    height: 20px;
    width: 60px;
}
