/* Venezuela Sprite for Large Size
---------------------------------------------------------------*/

.paymentmethod-large {
    background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.10/pe/payment-methods-large.png');
    height: 26px;
    margin: 5px;
}
/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

.paymentmethod-large {
        background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.10/pe/payment-methods-large@2x.png');
        background-size: 116px 350px; /* original x1 image size */
        height: 26px;
        margin: 5px;
    }

}


/* Venezuela Large Size
---------------------------------------------------------------*/

.paymentmethod-account_money.paymentmethod-large {
    height: 31px;
    width: 116px;
}

.paymentmethod-visa.paymentmethod-large {
    height: 21px;
    width: 63px;
}

.paymentmethod-master.paymentmethod-large {
    height: 28px;
    width: 46px;
}

.paymentmethod-amex.paymentmethod-large {
    height: 27px;
    width: 26px;
}

.paymentmethod-pagoefectivo.paymentmethod-large {
    height: 26px;
    width: 66px;
}