/* Mexico Sprite for Default Size
---------------------------------------------------------------*/

[class*='paymentmethod'] {
    background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.17/mx/payment-methods-default.png');
    height: 16px; /* most common height */
}

/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

[class*='paymentmethod'] {
        background-image: url('https://secure.mlstatic.com/org-img/ui/payment-methods/1.3.17/mx/payment-methods-default@2x.png');
        background-size: 72px 830px; /* original x1 image size */
        height: 16px; /* most common height */
    }

}

/* Mexico Default Size
---------------------------------------------------------------*/

.paymentmethod-account_money {
    height: 20px;
    width: 72px;
}

.paymentmethod-visa {
    width: 40px;
}

.paymentmethod-master{
    height: 19px;
    width: 29px;
}

.paymentmethod-amex {
    height: 17px;
    width: 17px;
}

.paymentmethod-bitcoin {
    height: 16px;
    width: 62px;
}

.paymentmethod-bancomer {
    height: 7px;
    width: 63px;
}

.paymentmethod-banamex {
    height: 13px;
    width: 58px;
}

.paymentmethod-hsbc {
    height: 11px;
    width: 57px;
}

.paymentmethod-serfin {
    height: 13px;
    width: 62px;
}

.paymentmethod-oxxo {
    height: 15px;
    width: 33px;
}

.paymentmethod-mercadopagocard {
    height: 18px;
    width: 71px;
}

.paymentmethod-banorte {
    height: 11px;
    width: 71px;
}

.paymentmethod-ixe {
    height: 20px;
    width: 47px;
}

.paymentmethod-debvisa {
    width: 58px;
    height: 13px;
}

.paymentmethod-debmaster {
    height: 18px;
    width: 48px;
}

.paymentmethod-debmaster {
    height: 18px;
    width: 48px;
}

.paymentmethod-gestopago {
    height: 27px;
    width: 72px;
}