/* Mexico Sprite for Default Size
---------------------------------------------------------------*/

[class*='paymentmethod'] {
    background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/develop/1.7.8-3/mx/payment-methods-default.png');
    height: 16px; /* most common height */
}

/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

[class*='paymentmethod'] {
        background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/develop/1.7.8-3/mx/payment-methods-default@2x.png');
        background-size: 72px 1256px;  /* original x1 image size */
        height: 16px; /* most common height */
    }

}

/* Mexico Default Size
---------------------------------------------------------------*/

.paymentmethod-account_money {
    height: 20px;
    width: 72px;
}

.paymentmethod-visa {
    width: 40px;
}

.paymentmethod-master{
    height: 26px;
    width: 29px;
}

.paymentmethod-amex {
    height: 17px;
    width: 17px;
}

.paymentmethod-bitcoin {
    height: 16px;
    width: 62px;
}

.paymentmethod-bancomer {
    height: 8px;
    width: 63px;
}

.paymentmethod-banamex {
    height: 13px;
    width: 72px;
}

.paymentmethod-hsbc {
    height: 11px;
    width: 57px;
}

.paymentmethod-serfin {
    height: 13px;
    width: 62px;
}

.paymentmethod-oxxo {
    height: 16px;
    width: 33px;
}

.paymentmethod-mercadopagocard {
    height: 18px;
    width: 71px;
}

.paymentmethod-banorte {
    height: 12px;
    width: 71px;
}

.paymentmethod-ixe {
    height: 20px;
    width: 47px;
}

.paymentmethod-debvisa {
    width: 58px;
    height: 13px;
}

.paymentmethod-debmaster {
    height: 26px;
    width: 48px;
}

.paymentmethod-gestopago {
    height: 22px;
    width: 72px;
}

.paymentmethod-7-eleven  {
  height: 18px;
  width: 16px;
}

.paymentmethod-telecomm  {
  height: 14px;
  width: 57px;
}

/****************/

.paymentmethod-extra  {
  height: 20px;
  width: 54px;
}

.paymentmethod-k  {
  height: 20px;
  width: 18px;
}

.paymentmethod-circle_k  {
  height: 18px;
  width: 42px;
}

.paymentmethod-farmacias  {
  height: 20px;
  width: 44px;
}

.paymentmethod-casa_ley  {
  height: 22px;
  width: 28px;
}

.paymentmethod-chedraui  {
  height: 8px;
  width: 72px;
}
