[class*="paymentmethod-large"] {
    background-image: url(../images/pmc-mlc.png);
    background-size: 256px 308px;
    height: 26px; /* most common height */
    margin: 5px;
}

[class*="paymentmethod-default"] {
    background-image: url(../images/pmc-mlc.png);
    background-size: 256px 308px;
    height: 26px; /* most common height */
    margin: 5px;
}

/*default*/
  .paymentmethod-cmr {
      background-position: 0px -95px;
      height: 51px;
      width: 256px;
  }
  .paymentmethod-khipu {
      background-position: 0px 0px;
      height: 45px;
      width: 112px;
  }
  .paymentmethod-magna {
      background-position: 0px -146px;
      height: 51px;
      width: 82px;
  }
  .paymentmethod-presto {
      background-position: 0px -45px;
      height: 50px;
      width: 74px;
  }
  .paymentmethod-servipag {
      background-position: 0px -197px;
      height: 53px;
      width: 157px;
  }
  .paymentmethod-webpay {
      background-position: 0px -250px;
      height: 58px;
      width: 73px;
  }


/*large*/
  .paymentmethod-cmr.paymentmethod-large {
      background-position: 0px -95px;
      height: 51px;
      width: 256px;
  }
  .paymentmethod-khipu.paymentmethod-large {
      background-position: 0px 0px;
      height: 45px;
      width: 112px;
  }
  .paymentmethod-magna.paymentmethod-large {
      background-position: 0px -146px;
      height: 51px;
      width: 82px;
  }
  .paymentmethod-presto.paymentmethod-large {
      background-position: 0px -45px;
      height: 50px;
      width: 74px;
  }
  .paymentmethod-servipag.paymentmethod-large {
      background-position: 0px -197px;
      height: 53px;
      width: 157px;
  }
  .paymentmethod-webpay.paymentmethod-large {
      background-position: 0px -250px;
      height: 58px;
      width: 73px;
  }
