[class*="payment-methods-large"] {
        background-image: url(../images/pmc-mla.png);
        height: 26px; /* most common height */
        margin: 5px;
    
}
/*large*/
.payment-methods-account_money {
        background-position: 0px -1276px;
        height: 61px;
        width: 232px;
    }

.payment-methods-amex {
        background-position: 0px -701px;
        height: 52px;
        width: 53px;
    }

.payment-methods-argencard {
        background-position: 0px -861px;
        height: 55px;
        width: 54px;
    }

.payment-methods-bancoentrerios {
        background-position: 0px -300px;
        height: 47px;
        width: 102px;
    }

.payment-methods-bancosanjuan {
        background-position: 0px -347px;
        height: 48px;
        width: 174px;
    }

.payment-methods-bancosantacruz {
        background-position: 0px -56px;
        height: 36px;
        width: 214px;
    }

.payment-methods-banelco {
        background-position: 0px -254px;
        height: 46px;
        width: 147px;
    }

.payment-methods-bapropagos {
        background-position: 0px -495px;
        height: 51px;
        width: 164px;
    }

.payment-methods-bitcoin {
        background-position: 0px -92px;
        height: 38px;
        width: 180px;
    }

.payment-methods-cabal {
        background-position: 0px -649px;
        height: 52px;
        width: 52px;
    }

.payment-methods-cargavirtual {
        background-position: 0px -1215px;
        height: 61px;
        width: 61px;
    }

.payment-methods-cencosud {
        background-position: 0px -597px;
        height: 52px;
        width: 79px;
    }

.payment-methods-cmr {
        background-position: 0px -973px;
        height: 60px;
        width: 82px;
    }

.payment-methods-comafi {
        background-position: 0px -169px;
        height: 41px;
        width: 211px;
    }

.payment-methods-corbodesa {
        background-position: 0px 0px;
        height: 25px;
        width: 128px;
    }

.payment-methods-cordial {
        background-position: 0px -210px;
        height: 44px;
        width: 123px;
    }

.payment-methods-diners {
        background-position: 0px -395px;
        height: 50px;
        width: 190px;
    }

.payment-methods-galicia {
        background-position: 0px -753px;
        height: 53px;
        width: 194px;
    }

.payment-methods-hipotecario {
        background-position: 0px -1033px;
        height: 60px;
        width: 170px;
    }

.payment-methods-master {
        background-position: 0px -806px;
        height: 55px;
        width: 91px;
    }

.payment-methods-naranja {
        background-position: 0px -916px;
        height: 57px;
        width: 50px;
    }

.payment-methods-nativa {
        background-position: 0px -546px;
        height: 51px;
        width: 115px;
    }

.payment-methods-pagofacil {
        background-position: 0px -1093px;
        height: 61px;
        width: 61px;
    }

.payment-methods-rapipago {
        background-position: 0px -25px;
        height: 31px;
        width: 171px;
    }

.payment-methods-redlink {
        background-position: 0px -1154px;
        height: 61px;
        width: 61px;
    }

.payment-methods-tarshopp {
        background-position: 0px -445px;
        height: 50px;
        width: 84px;
    }

.payment-methods-visa {
        background-position: 0px -130px;
        height: 39px;
        width: 123px;
    }

