[class*="paymentmethod-large"] {
    background-image: url(../images/pmc-mco.png);
    background-size: 231px 132px;
    height: 26px; /* most common height */
    margin: 5px;
}

[class*="paymentmethod-default"] {
    background-image: url(../images/pmc-mco.png);
    background-size: 231px 132px;
    height: 26px; /* most common height */
    margin: 5px;
}

/*default*/
  .paymentmethod-davivienda {
      background-position: 0px 0px;
      height: 30px;
      width: 231px;
  }
  .paymentmethod-efecty {
      background-position: 0px -30px;
      height: 47px;
      width: 139px;
  }
  .paymentmethod-pse {
      background-position: 0px -77px;
      height: 55px;
      width: 137px;
  }


/*large*/
  .paymentmethod-davivienda.paymentmethod-large {
      background-position: 0px 0px;
      height: 30px;
      width: 231px;
  }
  .paymentmethod-efecty.paymentmethod-large {
      background-position: 0px -30px;
      height: 47px;
      width: 139px;
  }
  .paymentmethod-pse.paymentmethod-large {
      background-position: 0px -77px;
      height: 55px;
      width: 137px;
  }
