/* Brazil Sprite for Large Size 
---------------------------------------------------------------*/

.paymentmethod-large {
    background-image: url('http://static.mlstatic.com/org-img/ui/payment-methods/1.1.0/br/payment-methods-large.png');
    /* background-image: url('https://a248.e.akamai.net/secure.mlstatic.com/org-img/ui/payment-methods/1.1.0/br/payment-methods-large.png'); */
    height: 25px; /* most common height */
    margin: 5px;
}


/* Brazil Large Size
---------------------------------------------------------------*/

.paymentmethod-account_money.paymentmethod-large {
    height: 31px;
    width: 116px;
}

.paymentmethod-visa.paymentmethod-large {
    height: 21px;
    width: 60px;
}

.paymentmethod-master.paymentmethod-large {
    height: 28px;
    width: 46px;
}

.paymentmethod-amex.paymentmethod-large {
    height: 27px;
    width: 26px;
}

.paymentmethod-hipercard.paymentmethod-large {
    width: 56px;
}

.paymentmethod-diners.paymentmethod-large {
    width: 32px;
}

.paymentmethod-elo.paymentmethod-large {
    width: 26px;
}

.paymentmethod-melicard.paymentmethod-large {
    height: 23px;
    width: 34px;
}

.paymentmethod-bolbradesco.paymentmethod-large,
.paymentmethod-itau.paymentmethod-large {
    height: 24px;
    width: 34px;
}