/* Brazil Sprite for Large Size
---------------------------------------------------------------*/

.paymentmethod-large {
    background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.7.0/br/payment-methods-large.png');
    height: 25px; /* most common height */
    margin: 5px;
}


/*
 * Retina logo for small screens
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

.paymentmethod-large {
        background-image: url('https://http2.mlstatic.com/secure/org-img/ui/payment-methods/1.7.0/br/payment-methods-large@2x.png');
        background-size: 116px 524px; /* original x1 image size */
        height: 27px; /* most common height */
        margin: 5px;
    }

}


/* Brazil Large Size
---------------------------------------------------------------*/

.paymentmethod-account_money.paymentmethod-large {
    height: 31px;
    width: 116px;
}

.paymentmethod-visa.paymentmethod-large {
    height: 21px;
    width: 63px;
}

.paymentmethod-master.paymentmethod-large {
    height: 35px;
    width: 46px;
}

.paymentmethod-amex.paymentmethod-large {
    height: 27px;
    width: 26px;
}

.paymentmethod-bitcoin.paymentmethod-large {
    height: 25px;
    width: 96px;
}

.paymentmethod-hipercard.paymentmethod-large {
    width: 56px;
}

.paymentmethod-diners.paymentmethod-large {
    height: 26px;
    width: 96px;
}

.paymentmethod-elo.paymentmethod-large {
    height: 19px;
    width: 30px;
}

.paymentmethod-melicard.paymentmethod-large {
    height: 24px;
    width: 34px;
}

.paymentmethod-bolbradesco.paymentmethod-large,
.paymentmethod-bolbradesco.paymentmethod-large,
.paymentmethod-itau.paymentmethod-large,
.paymentmethod-itau.paymentmethod-large {
    height: 25px;
    width: 34px;
}

.paymentmethod-giftcard.paymentmethod-large {
    height: 24px;
    width: 97px;
}
