/* Sprite position for Perú Logos
---------------------------------------------------------------*/
.paymentmethod-pagoefectivo, [class*='paymentmethod-pagoefectivo'],
.paymentmethod-pagoefectivo.paymentmethod-large ,[class*='paymentmethod-pagoefectivo'].paymentmethod-large{
    background-position: 0 -250px; 
}

.paymentmethod-debvisa,
.paymentmethod-debvisa.paymentmethod-large {
    background-position: 0 -300px; 
}
.paymentmethod-debmaster {
    background-position: 0 -337px
}
.paymentmethod-debmaster.paymentmethod-large {
    background-position: 0 -339px;
}

.paymentmethod-diners {
    background-position: 0 -382px
}
.paymentmethod-diners.paymentmethod-large {
    background-position: 0 -393px;
}

