/* Sprite position for Brazil Logos
---------------------------------------------------------------*/
.paymentmethod-diners,
.paymentmethod-diners.paymentmethod-large { 
    background-position: 0 -200px; 
}

.paymentmethod-hipercard,
.paymentmethod-hipercard.paymentmethod-large { 
	background-position: 0 -300px; 
}

.paymentmethod-elo,
.paymentmethod-elo.paymentmethod-large { 
	background-position: 0 -350px; 
}

.paymentmethod-melicard,
.paymentmethod-melicard.paymentmethod-large { 
	background-position: 0 -400px; 
}

.paymentmethod-bolbradesco,
.paymentmethod-bolbradesco.paymentmethod-large,
.paymentmethod-itau,
.paymentmethod-itau.paymentmethod-large { 
	background-position: 0 -450px; 
}

.paymentmethod-giftcard,
.paymentmethod-giftcard.paymentmethod-large { 
	background-position: 0 -500px; 
}

.paymentmethod-pec,
.paymentmethod-pec.paymentmethod-large { 
	background-position: 0 -553px; 
}

.paymentmethod-caixavirtualcard {
	background-position: 0 -599px; 
}
.paymentmethod-caixavirtualcard.paymentmethod-large { 
	background-position: 0 -607px;
}
